<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        input{
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <form  method="post">
        <label for="maths">Enter maths marks</label>
        <input type="number" name="maths" id="maths" required><br>
        <label for="science">Enter science marks</label>
        <input type="number" name="science" id="science" required><br>
        <label for="history">Enter History marks</label>
        <input type="number" name="history" id="history" required><br>
        <input type="submit" value="Submit">
    </form>
    
</body>
</html>